<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
        <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
        <section name="entityFramework"
          type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
          requirePermission="false"/>
    </configSections>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
	<connectionStrings>
		<add name="FOXConnection" connectionString="server=vsubmission;database=amazingdb;uid=mtbcweb;password=mtbcweb@mtbc;MultipleActiveResultSets=true;Persist Security Info=true;Application Name=talkEHR;" providerName="System.Data.SqlClient" />
		<!--<add name="FOXConnection" connectionString="server=10.10.30.76;database=mis_db;uid=mtbcweb;password=mtbcweb@mtbc;MultipleActiveResultSets=true;Persist Security Info=true;Application Name=FoxRehab;" providerName="System.Data.SqlClient" />-->
		<!--<add name="FOXConnection" connectionString="server=10.10.30.166;database=FOX_DB;uid=mtbcweb;password=mtbcweb@mtbc;MultipleActiveResultSets=true;Persist Security Info=true;Application Name=talkEHR;" providerName="System.Data.SqlClient" />-->
		<!-- <add name="FOXConnection" connectionString="server=10.10.30.162;database=FOX_UAT;uid=mtbcweb;password=mtbcweb@mtbc;MultipleActiveResultSets=true;Persist Security Info=true;Application Name=talkEHR;" providerName="System.Data.SqlClient" /> -->
		<!--<add name="FOXConnection" connectionString="server=10.10.30.162;database=FOX_STAGING;uid=mtbcweb;password=mtbcweb@mtbc;MultipleActiveResultSets=true;Persist Security Info=true;Application Name=talkEHR;" providerName="System.Data.SqlClient" />-->
		<!-- TalkEhr DB Connection Strings-->
		<add name="TalkEhrDBConnection" connectionString="server=10.10.30.166;database=amazingdb;uid=mtbcweb;password=mtbcweb@mtbc;MultipleActiveResultSets=true;Persist Security Info=true;Application Name=talkEHR;" />
		<!--<add name ="TalkEhrDBConnection" connectionString="server=10.10.30.173;database=MIS_DB;uid=mtbcweb;password=mtbcweb@mtbc;MultipleActiveResultSets=true;Persist Security Info=true;Application Name=talkEHR;"/>-->
		<add name="TalkRehabConnection" connectionString="Data Source=10.10.30.29;Initial Catalog=MIS_DB; User ID=talkehr;Password=mtbc@5134;MultipleActiveResultSets=true;Persist Security Info=true;Application Name=talkEHR;" providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>