<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
	<configSections>
		<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		<!--Implemented by Aamer Saeed on 03242018 > -->
		<sectionGroup name="elmah">
			<section name="security" requirePermission="false" type="Elmah.SecuritySectionHandler, Elmah" />
			<section name="errorLog" requirePermission="false" type="Elmah.ErrorLogSectionHandler, Elmah" />
			<section name="errorMail" requirePermission="false" type="Elmah.ErrorMailSectionHandler, Elmah" />
			<section name="errorFilter" requirePermission="false" type="Elmah.ErrorFilterSectionHandler, Elmah" />
		</sectionGroup>
	</configSections>
	<elmah>
		<!--Implemented by Aamer Saeed on 03242018 > -->
		<security allowRemoteAccess="1" />
		<errorLog type="Elmah.SqlErrorLog, Elmah" connectionStringName="FOXConnection" />
		<!--<errorLog type="Elmah.Io.ErrorLog, Elmah.Io" apiKey="12345" logId="12345" />-->
		<errorMail from="MTBCWEBExceptions@mtbc.com" to="asadejaz@MTBC.COM" cc="omermehmood@mtbc.com" subject="Web API Exceptions from Fox Rehab" async="true" />
	</elmah>
	<appSettings>
		<add key="ClientURL" value="https://fox.mtbc.com/" />
		<add key="ACUServiceURL" value="https://uat-webservices.mtbc.com/ACU-WebAPI/api/FoxSurveyCalls/MakeCall/" />
		<add key="EligibilityURL" value="http://10.10.30.47:9945/api/eligibility/transactions" />
		<add key="GetPracticeCode" value="1012714" />
		<add key="PatientSurveyEmailAddressForLive" value="bradley.pennypacker@foxrehab.org" />
		<add key="PatientSurveyEmailAddressForTest" value="zohaibmehboob@mtbc.com" />
		<add key="PHRPortalURL" value="https://phr.foxrehab.org/FOXPHR/VerifyID?info=" />
		<!--<add key="GetPracticeCode" value="1011163" />-->
		<!--Survey Automation Email Notification-->
		<add key="SurveyAutomationCCList" value="muhammadsalman7@carecloud.com"/>
		<add key="SurveyAutomationBCCList" value="muhammadsalman7@carecloud.com"/>
		<add key="CCExceptionEmailList" value="muhammadarslan3@carecloud.com;aftabkhan@carecloud.com;muhammadsalman7@mtbc.com;"/>
		<add key="SendEmailOnException" value="muhammadarslan3@carecloud.com;aftabkhan@carecloud.com;muhammadsalman7@mtbc.com;taimoorhussain@carecloud.com"/>
	</appSettings>
	<system.web>
		<authentication mode="None" />
		<compilation debug="true" targetFramework="4.6" />
		<httpRuntime targetFramework="4.6" maxRequestLength="2097151" enableVersionHeader="false" />
		<!-- Ahmad Amjad -->
		<!--5-	Exception Management-->
		<!--<customErrors mode="Off"/>-->
		<customErrors mode="On" defaultRedirect="~/Error/Index">
			<!--<remove statusCode="400" subStatusCode="-1"/>
      <remove statusCode="401" subStatusCode="-1"/>
      <remove statusCode="403" subStatusCode="-1"/>
      <remove statusCode="404" subStatusCode="-1"/>
      <remove statusCode="500" subStatusCode="-1"/>
      <remove statusCode="502" subStatusCode="-1"/>
      <remove statusCode="503" subStatusCode="-1"/>-->
			<!--<error statusCode="400" prefixLanguageFilePath="" path="/custom_error.aspx" responseMode="ExecuteURL"/>-->
			<error statusCode="400" redirect="~/Error/NotFound" />
			<error statusCode="401" redirect="~/Error/NotFound" />
			<error statusCode="403" redirect="~/Error/NotFound" />
			<error statusCode="404" redirect="~/Error/NotFound" />
			<error statusCode="500" redirect="~/Error/InternalServerError" />
			<error statusCode="502" redirect="~/Error/NotFound" />
			<error statusCode="503" redirect="~/Error/NotFound" />
		</customErrors>
		<httpHandlers>
			<add verb="*" path="routes.axd" type="AttributeRouting.Web.Logging.LogRoutesHandler, AttributeRouting.Web" />
			<!--Implemented by Aamer Saeed on 03242018 > -->
			<add verb="POST,GET,HEAD" path="elmah.axd" type="Elmah.ErrorLogPageFactory, Elmah" />
		</httpHandlers>
		<httpModules>
			<!--Implemented by Aamer Saeed on 03242018 > -->
			<add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" />
			<add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah" />
			<add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah" />
			<add name="TelemetryCorrelationHttpModule" type="Microsoft.AspNet.TelemetryCorrelation.TelemetryCorrelationHttpModule, Microsoft.AspNet.TelemetryCorrelation" />
			<add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" />
		</httpModules>
	</system.web>
	<system.net>
		<mailSettings>
			<smtp from="">
				<!--<network defaultCredentials="true" host="10.10.30.202" password="anonymous" port="25" userName="anonymous" />
		  <network defaultCredentials="false" host="172.16.0.14" password="" port="25" userName="" />-->
				<network defaultCredentials="true" host="10.10.30.99" password="anonymous" port="25" userName="anonymous" />
			</smtp>
		</mailSettings>
		<defaultProxy useDefaultCredentials="true">
			<proxy usesystemdefault="True" />
		</defaultProxy>
	</system.net>
	<system.webServer>
		<validation validateIntegratedModeConfiguration="false" />
		<!-- Ahmad Amjad -->
		<!--<httpErrors existingResponse="Replace" errorMode="Custom">
      <remove statusCode="400" subStatusCode="-1"/>
      <remove statusCode="401" subStatusCode="-1"/>
      <remove statusCode="403" subStatusCode="-1"/>
      <remove statusCode="404" subStatusCode="-1"/>
      <remove statusCode="500" subStatusCode="-1"/>
      <remove statusCode="502" subStatusCode="-1"/>
      <remove statusCode="503" subStatusCode="-1"/>
      <error statusCode="400" prefixLanguageFilePath="" path="/custom_error.aspx" responseMode="ExecuteURL"/>
      <error statusCode="401" prefixLanguageFilePath="" path="/custom_error.aspx" responseMode="ExecuteURL"/>
      <error statusCode="403" prefixLanguageFilePath="" path="/custom_error.aspx" responseMode="ExecuteURL"/>
      <error statusCode="404" prefixLanguageFilePath="" path="/custom_error.aspx" responseMode="ExecuteURL"/>
      <error statusCode="500" prefixLanguageFilePath="" path="/custom_error.aspx" responseMode="ExecuteURL"/>
      <error statusCode="502" prefixLanguageFilePath="" path="/custom_error.aspx" responseMode="ExecuteURL"/>
      <error statusCode="503" prefixLanguageFilePath="" path="/custom_error.aspx" responseMode="ExecuteURL"/>
    </httpErrors>-->
		<handlers>
			<!--Implemented by Aamer Saeed on 03242018 > -->
			<add name="Elmah" verb="POST,GET,HEAD" path="elmah.axd" type="Elmah.ErrorLogPageFactory, Elmah" />
			<add name="AttributeRouting" path="routes.axd" verb="*" type="AttributeRouting.Web.Logging.LogRoutesHandler, AttributeRouting.Web" />
			<remove name="ExtensionlessUrlHandler-Integrated-4.0" />
			<remove name="OPTIONSVerbHandler" />
			<remove name="TRACEVerbHandler" />
			<add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
		</handlers>
		<modules runAllManagedModulesForAllRequests="true">
			<!--Implemented by Aamer Saeed on 03242018 > -->
			<add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" preCondition="managedHandler" />
			<add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah" preCondition="managedHandler" />
			<add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah" preCondition="managedHandler" />
			<remove name="FormsAuthentication" />
			<remove name="TelemetryCorrelationHttpModule" />
			<add name="TelemetryCorrelationHttpModule" type="Microsoft.AspNet.TelemetryCorrelation.TelemetryCorrelationHttpModule, Microsoft.AspNet.TelemetryCorrelation" preCondition="managedHandler" />
			<remove name="ApplicationInsightsWebTracking" />
			<add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler" />
		</modules>

		<httpProtocol>
			<customHeaders>
				<!--15-	Content Security Policy (CSP)-->
				<add name="Content-Security-Policy" value="script-src 'self' 'unsafe-inline'; connect-src 'self' http://localhost:14479/ https://uatfox.mtbc.com/ https://stagingfox.mtbc.com/ https://fox.mtbc.com/;" />
				<!--16-	Missing X-XSS Protection Header [Informational]-->
				<add name="X-XSS-Protection" value="1; mode=block" />
				<add name="Referrer-Policy" value="strict-origin-when-cross-origin" />
				<add name="X-Frame-Options" value="SAMEORIGIN"/>
				<add name="X-Content-Type-Options" value="nosniff"/>
				<add name="Strict-Transport-Security" value="max-age=31536000"/>
			</customHeaders>
		</httpProtocol>
		<!--<modules runAllManagedModulesForAllRequests="true" />-->

		<!--20-	OPTIONS Method Enabled-->
		<!--<security>
      <requestFiltering>
        <verbs allowUnlisted="true">
          <add verb="OPTIONS" allowed="false" />
        </verbs>
      </requestFiltering>
    </security>-->

		<!-- Ahmad Amjad -->
		<rewrite>
			<rules>
				<rule name="http to https" patternSyntax="Wildcard" stopProcessing="true">
					<match url="*" />
					<conditions>
						<add input="{HTTPS}" pattern="off" />
					</conditions>
					<action type="Redirect" url="https://{HTTP_HOST}{REQUEST_URI}" />
				</rule>
			</rules>
			<outboundRules>
				<rule name="RESPONSE_SERVER">
					<match serverVariable="RESPONSE_SERVER" pattern=".*" />
					<action type="Rewrite" />
				</rule>
				<rule name="RESPONSE_X-POWERED-BY">
					<match serverVariable="RESPONSE_X-POWERED-BY" pattern=".*" />
					<action type="Rewrite" />
				</rule>
				<rule name="RESPONSE_X-ASPNET-VERSION">
					<match serverVariable="RESPONSE_X-ASPNET-VERSION" pattern=".*" />
					<action type="Rewrite" />
				</rule>
			</outboundRules>
		</rewrite>
	</system.webServer>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.2.6.0" newVersion="5.2.6.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.2.6.0" newVersion="5.2.6.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Cors" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.2.6.0" newVersion="5.2.6.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.ApplicationInsights" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-2.9.1.0" newVersion="2.9.1.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<entityFramework>
		<defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
		<providers>
			<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
		</providers>
	</entityFramework>
	<system.codedom>
		<compilers>
			<compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
			<compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
		</compilers>
	</system.codedom>
	<connectionStrings>
		<add name="DB5Connection" connectionString="server=db5; database=MTBCEMR_MEDICAL_RM_DB_NO_USE;uid=mtbcemr.net;password=monitorg;MultipleActiveResultSets=true;Persist Security Info=true;Application Name=talkEHR;" providerName="System.Data.SqlClient" />
		<!--<add name="FOXConnection" connectionString="server=10.10.30.76;database=mis_db;uid=mtbcweb;password=mtbcweb@mtbc;MultipleActiveResultSets=true;Persist Security Info=true;Application Name=FoxRehab;" providerName="System.Data.SqlClient" />-->
		<!-- TalkEhr DB Connection Strings-->
		<add name ="TalkEhrDBConnection" connectionString="server=10.10.30.173;database=MIS_DB;uid=mtbcweb;password=mtbcweb@mtbc;MultipleActiveResultSets=true;Persist Security Info=true;Application Name=talkEHR;"/>
		<add name="FOXConnection" connectionString="server=10.10.30.115;database=mis_db;uid=mtbcweb;password=mtbcweb@mtbc;MultipleActiveResultSets=true;Persist Security Info=true;Application Name=FoxRehab;" providerName="System.Data.SqlClient" />
	</connectionStrings>
	<location path="elmah.axd" inheritInChildApplications="false">
		<!--Implemented by Aamer Saeed on 03242018 > -->
		<system.web>
			<httpModules>
				<add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" />
			</httpModules>
			<httpHandlers>
				<add verb="POST,GET,HEAD" path="elmah.axd" type="Elmah.ErrorLogPageFactory, Elmah" />
			</httpHandlers>
		</system.web>
	</location>
	<system.diagnostics>
		<trace autoflush="true" indentsize="0">
			<listeners>
				<add name="myAppInsightsListener" type="Microsoft.ApplicationInsights.TraceListener.ApplicationInsightsTraceListener, Microsoft.ApplicationInsights.TraceListener" />
			</listeners>
		</trace>
	</system.diagnostics>
</configuration>